{
  "env": {
    "test": {
      "presets": [
        [
          "preact-cli/babel",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  },
  "presets": [
    "@babel/preset-env",
    "preact"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": false
      }
    ]
  ]
}